Progetto Tecnologie Web/Progetto Tecnologie Web 2.0/public_html/schemaOpinioni.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:element name="opinioni" type="tOpinioni" />

<xsd: complexType name="tOpinioni">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="opinione" type="tOpinione" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="tOpinione">
  <xsd:sequence>
    <xsd:element name="nome" type="xsd:string" />
    <xsd:element name="pensiero" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

</xsd:schema>
